{{ partial "header.html" . }}
<div class="section-page article">
  <div class="container articles">
    <h3 class="heading3">{{ .Params.name }}</h3>
    <p class="daytxt" style="text-align: center;">Love</p>

    <div class="flex margin">
      <div class="filterDiv containartist">
        <div class="artiste"
          style="background-image: url('{{.Params.photo}}'); background-size: cover; background-position: center;"
          class="w-inline-block">
        </div>
      </div>
      <div class="blockArtist">
        {{.Content}}

      </div>

    </div>
    <iframe width="90%" height="166" scrolling="no" frameborder="no"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34019569&amp;color=0066cc"></iframe>

  </div>

  {{ partial "footer.html" . }}