{{ partial "header.html" . }} 
<!--  <div class="container articles">
    <h1>{{ .Params.name }}</h1>
    <p class="daytxt" style="text-align: center;">Love</p>
    <div class="container split">

		  <div class="block50">
        <div class="artiste"
          style="background-image: url('{{.Params.photo}}'); background-size: cover; background-position: center;"
          class="w-inline-block">
        </div>
      </div>
		  <div class="block50">
      <div class="blockArtist">
        {{.Content}}

			  </div></div>


    <iframe width="90%" height="166" scrolling="no" frameborder="no"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34019569&amp;color=0066cc"></iframe>

  </div>


	  
	  -->

<div class="section-page line-up">
		<div class="container default">
				<h1 class="section-intro">{{ .Params.name }}</h1>
				<div class="container split">
						<div class="block50">
							<img src="https://res.cloudinary.com/dxswtxauo/image/upload/w_500/q_auto,f_auto{{ .Params.photo }}" width="500" alt="{{.Params.name}}"/>
						</div><br><br>
						<div class="block50">
							{{.Content}}
						</div>
				</div>
			<a href="/artist" class="btnback w-button">back to line-up</a></div>
</div>
</div>
{{ partial "footer.html" . }}