{{ partial "header.html" . }}

<div class="section-page line-up">
    <div class="container writing">
		<h3 class="section-intro">{{.Title}}</h3>        
		<div class="container split newzz">
			
			  
<div class="col4 whitebg" style="box-shadow:none; padding: 0;background-color:transparent"> 
					<img data-src="images/lefwriting.png" width="400" alt="" class="lozad" style="position: absolute;top: -149px;left: -25px;">
					
					{{ range .Pages.ByPublishDate.Reverse }}
				<a href="{{.Permalink}}" class="linkblog" style="margin-bottom:20px;">
				<h3 class="headingblogthumb">
					<span class="datearticle">{{ .Date.Format "Mon, Jan 2" }}</span><br>
								{{ .Title }} 
				</h3>
                    <div class="blogthumb w-inline-block lozad" style="background-image:url({{ .Params.thumbnail }}); background-size: cover; background-position: center;">
                    </div></a> {{ end }}
			
			</div>
			
        </div>
      </div>
					{{ .Content | markdownify }}

		
	</div>
{{ partial "footer.html" . }}