{{ partial "header.html" . }}

<div class="section-page line-up">
  <div class="container writing">
    <h3 class="section-intro">{{.Title}}</h3>
      <div style="width: 100%;">
        {{ range .Pages.ByPublishDate.Reverse }}
        <a href="{{.Permalink}}" class="w-inline-block news">
          <div style="height: 110px;">
            <h3 class="headingblogthumb" style="color:black;margin-top: 0px;"><span class="datearticle">{{ .Date.Format "Mon, Jan 2" }}</span><br>{{ .Title }}</h3>
          </div>
          <div style="width: 250px;">
            <img class="image4tiles" src="{{ .Params.thumbnail }}" alt="">

          </div>
        </a>
        {{ end }}
      </div>

  </div>
</div>
{{ partial "footer.html" . }}

