{{ partial "header.html" . }}
<div class="section-page line-up">
<div class="container">
  <h3 class="section-intro writing">{{ .Title }}</h3>
  <select onchange="location = this.options[this.selectedIndex].value;">
    <option value="/timetable/friday">Friday</option>
    <option value="/timetable/saturday">Saturday</option>
    <option value="/timetable/sunday">Sunday</option>
	</select>
	{{ $v1 := where .Site.Data.artists.team "position" "Love" }}
	{{ $v2 := where .Site.Data.artists.team "day" "Friday" }}
	
	{{ range sort $v1 "time" "asc"}}

	{{ .name }}
	
	{{end}}
  {{ .Content }} 

  <script src="/js/modernizr.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script> 
  <script>
	if( !window.jQuery ) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
</script> 
  <script src="/js/main.js"></script>
	<script type="text/javascript">
    function goToNewPage()
    {
        var url = document.getElementById('list').value;
        if(url != 'none') {
            window.location = url;
        }
    }
</script>
</div>
{{ partial "footer.html" . }}