 <a href="/tickets" target="_blank" class="ctaticket w-inline-block">
<picture>
		<source data-srcset="/images/ctaleaves.webp" type="image/webp">
		<img data-src="/images/ctaleaves.png" width="200" alt="" class="ctaleaves lozad" style=""> </picture>
<picture>
		<source data-srcset="/images/ctaleafright.webp" type="image/webp">
		<img data-src="/images/ctaleafright.png" width="200" alt="" class="ctaleafright lozad" style=""> </picture>
<div class="container split"> 
		
		<!--                <picture style="position: absolute; bottom: 0px; left:0">
                    <source data-srcset="/images/shapesblog-2small.webp" type="image/webp">
                    <img data-src="/images/shapesblog-2small.png" width="159" class="lozad"></picture>-->
		<div class="txtcta">STILL DIDN&#x27;T GET YOUR TICKETS?</div>
		<div class="btn-hero">book them now !</div>
</div>
</a>