<!-- <a href="/tickets" class="ctaticket w-inline-block">
<picture>
		<source data-srcset="/images/ctaleaves.webp" type="image/webp">
		<img data-src="/images/ctaleaves.png" width="200" alt="" class="ctaleaves lozad" style=""> </picture>

		<source data-srcset="/images/ctaleafright.webp" type="image/webp">
		<img data-src="/images/ctaleafright.png" width="200" alt="" class="ctaleafright lozad" style=""> </picture>
<div class="container split"> 

		<div class="txtcta">STILL DIDN&#x27;T GET YOUR TICKETS?</div>
		<div class="btn-hero" style="color:#fa8d76;text-align: center;">book them now !</div>
</div>
</a>-->