<div class="containerorange">
	<a href="/tickets" target="_blank" class="ctaticket w-inline-block">
    <picture style="position: absolute; bottom: 0px; left:0">
      <source srcset="/images/shapesblog-2small.webp" type="image/webp">
      <img src="/images/shapesblog-2small.png" width="159"></picture>
		<div class="txtctawhite">STILL DIDN&#x27;T GET YOUR TICKETS?</div>
        <div class="btn-hero" style="background-color: white; color: #fa8d76;">book them now !</div>
      </a>
    </div>
 {{ partial "partners.html" . }}
	</div>
 {{ partial "scripts.html" . }}
</body>
</html>
