<div class="containerorange">
  <div style=" position: absolute; z-index: 100;">
    <img src="/images/leaves3.png">
  </div>
  <a href="/tickets" target="_blank" class="ctaticket w-inline-block">
    <picture>
      <!-- <source srcset=".webp" type="image/webp"> -->
      <img src="/images/flame1.png"></picture>
    <div class="txtctawhite">STILL DIDN&#x27;T GET YOUR TICKETS?</div>
    <div class="btn-hero" style="background-color: white; color: #FF804B;">book them now !</div>
    <picture>
      <!-- <source srcset=".webp" type="image/webp"> -->
      <img src="/images/flame2.png"></picture>
  </a>
  <div style="position: absolute; z-index: 100;
  right: 0px;">
    <img src="/images/leaves2.png">
  </div>
</div>

{{ partial "partners.html" . }}

</div>
{{ partial "scripts.html" . }}
</body>

</html>