<a href="#" class="thumbvideo w-inline-block w-lightbox"><img src="https://assets.website-files.com/5c34c1d2a3cd45693156a337/5c3737e2222a7cdd07d42f16_playicon.svg" width="75" alt="" class="playicon"><img src="https://assets.website-files.com/5c34c1d2a3cd45693156a337/5e36b3f27aa7cf6852a63091_thumbvideo.jpg" alt="" class="image"><script type="application/json" class="w-json">{
  "items": [
    {
      "type": "video",
      "originalUrl": "https://www.youtube.com/watch?v=NuvH1fD5rH0",
      "url": "https://www.youtube.com/watch?v=NuvH1fD5rH0",
      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FNuvH1fD5rH0%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DNuvH1fD5rH0&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FNuvH1fD5rH0%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
      "thumbnailUrl": "https://i.ytimg.com/vi/NuvH1fD5rH0/hqdefault.jpg",
      "width": 940,
      "height": 528
    }
  ]
}</script></a>