{{ if .IsHome }}
<header class="header navbarblack homefixednav navbar-2 w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" >
  <a href="" class="logo"><img src="/images/minilogobrun.svg" width="113" alt=""></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  
	<ul class="menu">
    <li><a href="/news" class="navlink-black">News</a></li>
    <li><a href="#work" class="navlink-black">Line-Up</a></li>
    <li><a href="#work" class="navlink-black">Green</a></li>
    <li><a href="#work" class="navlink-black">Practical</a></li>
    <li><a href="#work" class="navlink-black">Contact</a></li>
    <li><a href="#work" class="navlink-black lastnav">Tickets</a></li>

  </ul>
</header>

{{ else}}
<div data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" class="navbarblack w-nav">
    <div class="container nav">
        <a href="/index.html" class="bradn2 w-nav-brand"><img src="/images/minilogobrun.svg" width="113" alt=""></a>
        <nav role="navigation" class="navmenu2 w-nav-menu"> <a href="/news" class="navlink-black w-nav-link">news</a>
			<a href="/lineup" class="navlink-black w-nav-link">LINE-UP</a> 
<!--			<a href="/timetable" class="navlink-black w-nav-link">TIMETABLE</a>-->
            <a href="/green" class="navlink-black w-nav-link">GREEN</a>
            <!--		  <a href="/food" class="navlink-black w-nav-link">FOOD</a>-->
            <div class="dropdown">
                <a onclick="myFunction()" class="dropbtn navlink-black w-nav-link">Practical ⌄</a>
                <div id="myDropdown" class="dropdown-content"> <a href="/transport">Transport</a> <a href="/practical">FAQ</a> </div>
            </div>
            <a href="/contact" class="navlink-black w-nav-link">CONTACT</a></nav>
        <div class="menu-button w-nav-button">
            <div class="icon-2 w-icon-nav-menu"></div>
        </div>
        <a href="/tickets" target="_blank" class="lastnav w-nav-link">TICKETS</a>
	</div>
</div>
{{ end }}