{{ if .IsHome }}
<div data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" class="navbarblack w-nav">
  <div class="container nav"><a href="/index.html" class="showdisplay bradn2 w-nav-brand"><img
        src="/images/paradisecitylogobrown.png" width="113" alt=""></a>
    <nav role="navigation" class="navmenu2 w-nav-menu">
      <a href="/news" class="navlink-black ">news</a>
      <a href="/lineup" class="navlink-black ">LINE-UP</a>
      <a href="/timetable/friday" class="navlink-black ">TIMETABLE</a>
      <a href="/green" class="navlink-black ">GREEN</a>
      <a href="/transport" class="navlink-black ">GET INVOLVED</a>
      <a href="/practical" class="navlink-black ">PRACTICAL</a>
      <!-- <div class="dropdown">
          <a onclick="myFunction()" class="dropbtn navlink-black w-nav-link">PRACTICAL ⌄</a>
          <div id="myDropdown" class="dropdown-content"> <a href="/transport">Transport</a> 
            <a href="/practical">FAQ</a> </div>
        </div> -->
      <a href="/contact" class="navlink-black">CONTACT</a>
    </nav>
    <div class="menu-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
    <a href="/tickets" target="_blank" class="lastnav w-nav-link" style="border-radius: 20px;">TICKETS</a>
  </div>
</div>
<div class="w-nav-overlay" data-wf-ignore="" style="display: none;">
</div>
<div class="smbuttons" id="social-buttons">
  <div class="blocimgs">
    <a href="https://www.instagram.com/paradisecityofficial" target="_blank">
      <img src="/images/mail-black.svg" class="iconez iconez2">
    </a>
    <a href="https://www.facebook.com/events/354178365144537/" target="_blank">
      <img src="/images/soundcloud-black.svg" class="iconez iconez2">
    </a>
    <a href="https://www.facebook.com/events/354178365144537/" target="_blank">
      <img src="/images/facebook-black.svg" class="iconez iconez2">
    </a>
    <a href="https://www.instagram.com/paradisecityofficial" target="_blank">
      <img src="/images/instagram-black.svg" class="iconez iconez2">
    </a>
  </div>
</div>

{{ else}}
<div data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" class="navbarblack w-nav">
  <div class="container nav"><a href="/index.html" class="bradn2 w-nav-brand"><img
        src="/images/paradisecitylogobrown.png" width="113" alt=""></a>
    <nav role="navigation" class="navmenu2 w-nav-menu">
      <a href="/news" class="navlink-black ">news</a>
      <a href="/lineup" class="navlink-black ">LINE-UP</a>
      <a href="/timetable/friday" class="navlink-black ">TIMETABLE</a>
      <a href="/green" class="navlink-black ">GREEN</a>
      <a href="/transport" class="navlink-black ">GET INVOLVED</a>
      <a href="/practical" class="navlink-black ">PRACTICAL</a>
      <!-- <div class="dropdown">
        <a onclick="myFunction()" class="dropbtn navlink-black w-nav-link">PRACTICAL ⌄</a>
        <div id="myDropdown" class="dropdown-content"> <a href="/transport">Transport</a> 
          <a href="/practical">FAQ</a> </div>
      </div> -->
      <a href="/contact" class="navlink-black">CONTACT</a></nav>
    <div class="menu-button w-nav-button">
      <div class="icon-2 w-icon-nav-menu"></div>
    </div>
    <a href="/tickets" target="_blank" class="lastnav w-nav-link" style="border-radius: 20px;">TICKETS</a>
  </div>
</div>
<div class="smbuttons" id="social-buttons">
  <div class="blocimgs">
    <a href="https://www.instagram.com/paradisecityofficial" target="_blank">
      <img src="/images/mail-black.svg" class="iconez iconez2">
    </a>
    <a href="https://www.facebook.com/events/354178365144537/" target="_blank">
      <img src="/images/soundcloud-black.svg" class="iconez iconez2">
    </a>
    <a href="https://www.facebook.com/events/354178365144537/" target="_blank">
      <img src="/images/facebook-black.svg" class="iconez iconez2">
    </a>
    <a href="https://www.instagram.com/paradisecityofficial" target="_blank">
      <img src="/images/instagram-black.svg" class="iconez iconez2">
    </a>
  </div>
</div>
{{ end }}