{{ partial "header.html" . }}

<div class="section-page line-up">
    <div class="container default">
		<h1 class="section-intro">{{.Title}}</h1>
		{{ .Content }}
		  {{ range .Params.steps }} 
	<div class="container split margin-bottom">
		<div class="block50 midalign"><img src="{{ .step.img }}" width="320" alt="" class="greenimages"></div>
        <div class="block50">
          <h3 class="section-intro nomargin">{{ .step.title }}</h3>
          <div class="txtblock green page">{{ .step.description | markdownify }}</div>
        </div>
      </div>
		{{end}}

	</div>
</div>

{{ partial "footer.html" . }}