{{ partial "header.html" . }}

<div class="section-page line-up">
    <div class="container default">
		<h1 class="section-intro">{{.Title}}</h1>
		<p class="txtblock">We are <strong>optimists</strong> and we think the <strong>future can be bright</strong>. Therefore, we need to take sustainability seriously, knowing that any gathering of a large number of people has a potential negative impact on air, soil, water, resources and people. We need to draw up less resources, and we decided to start with our own little festival and go <strong>full on for a green policy</strong>. We trust we can influence change by leaving a positive legacy and <strong>hopefully inspiring</strong> our visitors to live more <strong>sustainably</strong>. It’s with these ideas that we try to build our festival as green as possible, improving ourselves year after year and knowing that we still have a long way ahead of us</p>

<div>
      <div class="container split center">
        <div class="block50"><img src="/images/iconv.svg"/>
			<h3 class="section-heading"><span class="grn">Mandatory behaviors</span></h3>
          <div class="txtblock green page">	✓	respect the nature on site.<br>	✓	respect the ground.<br>	✓	respect the trees, some are very old.<br>	✓	respect the water area (the small lake, the waterways …).</div>
        </div>
        <div class="block50"><img src="/images/iconx.svg"/>
          <h3 class="section-heading" style="color:#FF804B">What you cannot do / use or bring</h3>
          <div class="txtblock green page">	✓	do not pee on the land, use the provided toilets.<br> ✓ do not litter on the land, use the provided bins.<br>	✓	do not throw cigarettes butts on the floor as we recycle them, use provided ashtrays.<br>	✓	no plastic bottles for sale (you must use the reusable cups).<br>	✓	no flyering or stickering of any sort.</div>
        </div>
      </div>
	<br><br><br><h3 class="section-intro">To make sure we minimize our impacts,<br>we have set a <span class="grn">10 steps process</span>.
</h3>
    </div>
  </div>
		  {{ range .Params.steps }} 
	<div class="container split margin-bottom">
		<div class="block50 midalign"><img src="{{ .step.img }}" width="320" alt="" class="greenimages"></div>
        <div class="block50">
          <h3 class="section-intro nomargin">{{ .step.title }}</h3>
          <div class="txtblock green page">{{ .step.description | markdownify }}</div>
        </div>
      </div>
		{{end}}

	</div>
</div>

{{ partial "footer.html" . }}