{{ partial "header.html" . }}

<div class="section-page line-up">
  <div class="container default camping">
    <h1 class="section-intro">Camping</h1>
    <div class="textblock">
      <img class="showdesktop" style="border-radius: 60px;"
          src="https://res.cloudinary.com/dxswtxauo/image/upload/v1580820865/f_auto,q_80,h_400,w_940,c_fill/B64I9384_uexrd4.jpg"
          class="border" alt="">
        <img style="border-radius: 60px;" class="hiddendesktop" src="https://res.cloudinary.com/dxswtxauo/image/upload/v1580820865/B64I9384_uexrd4.jpg" class="border" alt="">

      <p>For campers, Paradise City is more than just a music festival, it is also a camping experience.
        Along with a rising sunshine and star-lit night skies, the intimate setting welcomes a fantastic crowd of
        music lovers.</p>


      <p>We all know there’s nothing better than having a refreshing (hot) shower followed by a good coffee and a
        delicious breakfast, while listening to that guy who was playing piano – remember last year? – or maybe you
        were the one that woke up, unlocked his sweet little tent and saw his best mates already drinking an opened
        Carapils can… You took a sip too, kicking off the day. Anyway, you’re feeling ready to start another day of
        carefully selected electronic music. Our campsite is a true slice of Paradise 😏 And after an intense day of
        music, get a last and final beer at the camping bar.</p>

      <p><strong>The camping will be your personal eco-friendly chill-out area in the midst of festival
          insanity. There are different options to overnight at Paradise City, from pre-pitched tents or
          glamping options to caravans. Let’s explore them below.</strong> </p>

      <p class="smaller orange">Please, note that you won’t be allowed on the campsite without a valid camping ticket
      </p>

      <h3 class="marginbottom">For those of you who wish to bring their own tent and camping equipment</h3>
      <p><img
          src="https://res.cloudinary.com/dxswtxauo/image/upload/v1580821029/paradise249_050719_602A5051_leylahesna_lr__htlmlg.jpg"
          alt="" class="border"></p>


      <p>Here you take your own tent with you. The camping is located next to the festival site, it is<strong>
          secure</strong> and <strong>serene</strong> with <strong>good
          facilities</strong> such as food stalls, bars, fresh drinking water and super sanitary services
        (high-quality WCs and hot showers). Don’t forget to bring your own towel! Lockers will be available for
        rent. No matter what you have forgotten at home, we will help you out of the trouble. At the campsite, you
        can easily rent camping items such as sleeping bags or air mattresses.</p>
      <div class="flex">
        <div class="icones">
          <img src="/images/FOOD.png" alt="">
          <p>Food Stalls</p>
        </div>
        <div class="icones">
          <img src="/images/bar.png" alt="">
          <p>Bars</p>
        </div>
        <div class="icones">
          <img src="/images/water.png" alt="">
          <p>Fresh Water</p>
        </div>
        <div class="icones">
          <img src="/images/shower.png" alt="">
          <p>Hot Shower</p>
        </div>
        <div class="icones">
          <img src="/images/wc.png" alt="">
          <p>High Quality WC</p>
        </div>

      </div>

      <p>To access the campsite, there are two possibilities:</p>

      <div class="flex">
        <div class="flexthird">
          <a href="https://paradisecity.be/tickets" class="button notColored">3 days-ticket + camping
          </a>
        </div>
        <div class="flexthird">
          <p style="margin: 0px;"><span style="font-weight:900">OR</span>
            <br><span class="smaller"> One ticket per person</span>
          </p>
        </div>
        <div class="flexthird">
          <a href="https://paradisecity.be/tickets" class="button colored">Camping 35€
          </a>
        </div>
      </div>

      <p></p>


      <p>The camping has a limited capacity and was sold out a couple of weeks before the festival last year so
        please, be sure to book your ticket in time to avoid any disappointment.</p>



      <h3 class="marginbottom">Camp2Camp Ready to go</h3>
      <div class="flex ">
        <div class="sixty">
          <img
            src="https://res.cloudinary.com/dxswtxauo/image/upload/v1580821150/paradise204_050719_602A5058_leylahesna_lr__g58y7h.jpg"
            alt="" class="border">
        </div>
        <div class="padding">
          <div>
            <p style="margin-bottom: 0.5em;">Make your festival weekend even easier and buy a package which includes a
              tent, sleeping bags, mattress
              and
              chairs. The Camp2Camp area is built up and ready before you arrive.</p>
            <div class="flex">
              <div class="containerwhite">
                <p class="bold">1 person</p>
                <p class="textcontain" style="font-size: 0.9em;
                LINE-HEIGHT: 1.3;margin-bottom: 0.5em;"> 1 tent <br>+ <br>1 mattress <br> + <br>1 sleeping bag <br> +
                  <br> 1 chair</p>
                <p class="bold price">75 €</p>
                <a class="button colored stretched" href="">book now</a>
              </div>
              <div class="containerwhite">
                <p class="bold">2 person</p>
                <p class="textcontain" style="font-size: 0.9em;
                LINE-HEIGHT: 1.3;margin-bottom: 0.5em;"> 2 tent <br>+ <br>2 mattress <br> + <br>2 sleeping bag <br> +
                  <br> 2 chair</p>
                <p class="bold price">120 €</p>
                <a class="button colored stretched" href="">book now</a>
              </div>
              <div class="containerwhite">
                <p class="bold">4 person</p>
                <p class="textcontain" style="font-size: 0.9em;
                LINE-HEIGHT: 1.3;margin-bottom: 0.5em;"> 4 tent <br>+ <br>4 mattress <br> + <br>4 sleeping bag <br> +
                  <br> 4 chair</p>
                <p class="bold price">220 €</p>
                <a class="button colored stretched" href="">book now</a>
              </div>
            </div>
          </div>

        </div>
      </div>


      <p class="smaller">* Note that a guarantee will be asked for all rented items</p>



      <h3 class="marginbottom">Glamping options</h3>

      <p>These onsite glamping options are the absolute ultimate in cool and comfort. These shiny tents are 2, 4 or
        5-person size dome tents and all have cosy beds, electricity and light. Outside it, you can relax in
        deckchairs and watch the stars at night. These are the perfect options for those who wish something
        different and want to add some style, comfort and fun to their festival experience.</p>

      <p>These camping packages can be booked along with your festival tickets through our website.</p>

      <h4 class="sub">The Who <span class="smaller">440 x 250 x 240 cm</span> </h4>
      <div class="flex flexmobile">
        <div class="block50">
          <img
            src="https://res.cloudinary.com/dxswtxauo/image/upload/v1580821466/2019-07-25_Liffin_Gardens_0330_2_HR_zwnf5b.jpg"
            alt="" class="border">
          <p style="
    margin-bottom: 0em;
">This is a comfortable tent for <strong>two</strong>. It has a big window at the back allowing the sun and
            the breeze to flow through the tent.</p>
        </div>
        <div class="block50 containerwhite containermobile" style="
    height: auto;
">
          <p class="bold">2 people</p>
          <p id="textcontainerb"> 1 tent <br>+ <br>2 real beds with mattress <br> + <br> duvets <br> + <br> pillows <br> + <br> 2
            deckchairs <br> + <br> light</p>
          <p class="bold price">300 €</p>
          <a class="button colored stretched" href="">book now</a>
        </div>
      </div>

      <h4 class="sub">The Elvis <span class="smaller">600 x 300 cm</span> </h4>
      <div class="flex flexmobile">
        <div class="block50 ">
             <img class="border"
      src="https://res.cloudinary.com/dxswtxauo/image/upload/v1580821249/2019-06-27_Liffin_Defqon_0086_WEB_hykdhv.jpg"
      alt="">
          <p style="
    margin-bottom: 0em;
">The campsite has two different types of Elvis tents. With a diameter of 6 meters and a height of 3 meters,
the Elvis feels huge and comfortable.</p>
        </div>
        <div class="block50 flex" style="
    height: auto;
">
        <div class="containerwhite block50">
          <p class="bold">4 people</p>
          <p class="textcontain" style="
              font-size: 1em;
              /* LINE-HEIGHT: 1.3; */
              margin-bottom: 0.5em;
              ">1 spacious and elegant tent <br> + <br> 4 real beds with mattress <br> + <br> duvets <br> + <br> 2
            pillows <br> + <br >4 deckchairs <br> + <br> light</p>
          <p class="bold price">420 €</p>
          <a class="button colored stretched" href="">book now</a>
        </div>
        <div class="containerwhite block50">
          <p class="bold">5 people</p>
          <p class="textcontain" style="
              font-size: 1em;
              /* LINE-HEIGHT: 1.3; */
              margin-bottom: 0.5em;
              "> 1 spacious and elegant tent <br> + <br> 5 real beds with mattress <br> + <br> duvets <br> + <br> 2
            pillows <br> + <br >5 deckchairs <br> + <br> light</p>
          <p class="bold price">480 €</p>
          <a class="button colored stretched" href="">book now</a>
        </div>
        

        </div>
      </div>


      <h3 class="marginbottom">Campers and caravans</h3>

      <p>Campers and caravans can be parked in the Camper area with a separate ticket for <strong>40€</strong>. This
        ticket will only be valid in combination with a camping ticket. Water and electricity are supplied for your
        campers on the caravan pitch.</p>
        <a class="button colored" id="lone" href="">camping + camper area 55€</a>

        <DIV class="flex">
          <img src="/images/iconv.svg" id="check" alt="">
          <p style="color: #8fa768;font-weight: 700;">Please, think twice about buying a cheap throwaway tent that will only contribute to landfill and use our
            pre-pitched option :-)</p>
        </DIV>

      

        

      <div>
        <p class="bold">OPENING HOURS</p>
        <p>The campsite will be open from Friday 14.00 to Monday 12.00.</p>
      </div>
        
      
    </div>
  </div>
</div>

{{ partial "footer.html" . }}