<div class="cd-schedule">
	<div class="timeline">

		{{ $daytime := (.Get 0) }}

		{{ if eq $daytime "Friday" }}
		<ul style="min-height:1090px;">
			<li><span>14:00</span></li>
			<li><span>14:30</span></li>
			<li><span>15:00</span></li>
			<li><span>15:30</span></li>
			<li><span>16:00</span></li>
			<li><span>16:30</span></li>
			<li><span>17:00</span></li>
			<li><span>17:30</span></li>
			<li><span>18:00</span></li>
			<li><span>18:30</span></li>
			<li><span>19:00</span></li>
			<li><span>19:30</span></li>
			<li><span>20:00</span></li>
			<li><span>20:30</span></li>
			<li><span>21:00</span></li>
			<li><span>21:30</span></li>
			<li><span>22:00</span></li>
			<li><span>22:30</span></li>
			<li><span>23:00</span></li>
			<li><span>00:00</span></li>
			<li><span>00:30</span></li>
			<li><span>01:00</span></li>
		</ul>
		{{ else if eq $daytime "Saturday" }}
		<ul>
			<li><span>12:00</span></li>
			<li><span>12:30</span></li>
			<li><span>13:00</span></li>
			<li><span>13:30</span></li>
			<li><span>14:00</span></li>
			<li><span>14:30</span></li>
			<li><span>15:00</span></li>
			<li><span>15:30</span></li>
			<li><span>16:00</span></li>
			<li><span>16:30</span></li>
			<li><span>17:00</span></li>
			<li><span>17:30</span></li>
			<li><span>18:00</span></li>
			<li><span>18:30</span></li>
			<li><span>19:00</span></li>
			<li><span>19:30</span></li>
			<li><span>20:00</span></li>
			<li><span>20:30</span></li>
			<li><span>21:00</span></li>
			<li><span>21:30</span></li>
			<li><span>22:00</span></li>
			<li><span>22:30</span></li>
			<li><span>23:00</span></li>
			<li><span>00:00</span></li>
			<li><span>00:30</span></li>
			<li><span>01:00</span></li>
		</ul>
		{{ else if eq $daytime "Sunday" }}
		<ul>
			<li><span>12:00</span></li>
			<li><span>12:30</span></li>
			<li><span>13:00</span></li>
			<li><span>13:30</span></li>
			<li><span>14:00</span></li>
			<li><span>14:30</span></li>
			<li><span>15:00</span></li>
			<li><span>15:30</span></li>
			<li><span>16:00</span></li>
			<li><span>16:30</span></li>
			<li><span>17:00</span></li>
			<li><span>17:30</span></li>
			<li><span>18:00</span></li>
			<li><span>18:30</span></li>
			<li><span>19:00</span></li>
			<li><span>19:30</span></li>
			<li><span>20:00</span></li>
			<li><span>20:30</span></li>
			<li><span>21:00</span></li>
			<li><span>21:30</span></li>
			<li><span>22:00</span></li>
			<li><span>22:30</span></li>
			<li><span>23:00</span></li>

		</ul>
		{{ end }}


	</div> <!-- .timeline -->
	<div>

	</div>

	{{ if eq $daytime "Friday" }}
	<div class="events">
		<ul style="list-style-type:none;">
			<li class="events-group 01">
				<div class="top-info"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
							viewBox="0 0 24 24" fill="none" stroke="#5dceb4" stroke-width="3" stroke-linecap="round"
							stroke-linejoin="round">
							<circle cx="12" cy="12" r="10"></circle>
						</svg>{{ .Get 1 }}</span></div>
				<ul class="list">
					{{ $daytime := (.Get 0) }}
					{{ $stage1 := (.Get 1) }}
					{{range sort .Site.Pages }}
					{{if and (in .Params.day $daytime)}}
					{{if and (in .Params.position $stage1)}}
					<li class="single-event" data-start="{{ .Params.start }}" data-end="{{ if eq .Params.end "01:00" }}
					25:00
					{{ else }}{{.Params.end}}
					{{end}}" data-content="event-abs-circuit" data-event="event-1" style="border-left: 3px solid #5dceb4;">

						<a>

							<span class="event-date1"> {{ .Params.start }} - {{ .Params.end }}</span>
							<em class="event-name"> {{.Params.name}} </em>
						</a>
					</li>
					{{ else }}{{end}}{{ else }}
					{{end}}{{end}}
				</ul>
			</li>
			<li class="events-group" style="list-style-type:none;">
				<div class="top-info">
					<span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
							stroke="#ff7e9a" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
							<circle cx="12" cy="12" r="10"></circle>
						</svg>{{ .Get 2 }}</span></div>

				<ul>{{ $stage2 := (.Get 2) }}
					{{range sort .Site.Pages }}
					{{if and (in .Params.day $daytime)}}
					{{if and (in .Params.position $stage2)}}


					<li id="{{.Params.name}}" class="single-event" data-start="{{ .Params.start }}" data-end="{{ if eq .Params.end "01:00" }}
					25:00
					{{ else }}
					{{ .Params.end }}
					{{end}}" data-content="event-abs-circuit" data-event="event-2" style="border-left: 3px solid #ff7e9a">
						<a>
							<span class="event-date1">{{ .Params.start }} - {{ .Params.end }}</span>
							<em class="event-name"> {{.Params.name}}</em>
						</a>
					</li>
					{{ else }}{{end}}{{ else }}
					{{end}}{{end}}
				</ul>
			</li>
			<li class="events-group" style="list-style-type:none;">
				<div class="top-info"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
							viewBox="0 0 24 24" fill="none" stroke="#fa8d76" stroke-width="3" stroke-linecap="round"
							stroke-linejoin="round">
							<circle cx="12" cy="12" r="10"></circle>
						</svg>
						{{ .Get 3 }}</span></div>

				<ul>{{ $stage3 := (.Get 3) }}
					{{range sort .Site.Pages }}
					{{if and (in .Params.day $daytime)}}
					{{if and (in .Params.position $stage3)}}


					<li id="{{.Params.name}}" class="single-event" data-start="{{ .Params.start}}" data-end="{{ if eq .Params.end "01:00" }}
					25:00
					{{ else }}
					{{ .Params.end }}
					{{end}}" data-content="event-abs-circuit" data-event="event-3" style="border-left: 3px solid #fa8d76;">
						<a>
							<span class="event-date1">{{ .Params.start }} - {{ .Params.end }}</span>
							<em class="event-name"> {{.Params.name}}</em>
						</a>
					</li>
					{{ else }}{{end}}{{ else }}
					{{end}}{{end}}
				</ul>
			</li>
			<li class="events-group" style="list-style-type:none;">
				<div class="top-info"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
							viewBox="0 0 24 24" fill="none" stroke="#83d1e2" stroke-width="3" stroke-linecap="round"
							stroke-linejoin="round">
							<circle cx="12" cy="12" r="10"></circle>
						</svg>
						{{ .Get 4 }}</span></div>

				<ul>{{ $stage4 := (.Get 4) }}
					{{range sort .Site.Pages }}
					{{if and (in .Params.day $daytime)}}
					{{if and (in .Params.position $stage4)}}


					<li id="{{.Params.name}}" class="single-event" data-start="{{ .Params.start}}" data-end="{{ if eq .Params.end "01:00" }}
					25:00
					{{ else }}
					{{ .Params.end }}
					{{end}}" data-content="event-abs-circuit" data-event="event-4" style="border-left: 3px solid #83d1e2;">
						<a>
							<span class="event-date1">{{ .Params.start }} - {{ .Params.end }}</span>
							<em class="event-name"> {{.Params.name}}</em>
						</a>
					</li>
					{{ else }}{{end}}{{ else }}
					{{end}}{{end}}
				</ul>
			</li>


		</ul>
	</div>
	{{ else if eq $daytime "Saturday"}}
	<div class="events">
		<ul style="list-style-type:none;">
			<li class="events-group 01">
				<div class="top-info"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
							viewBox="0 0 24 24" fill="none" stroke="#5dceb4" stroke-width="3" stroke-linecap="round"
							stroke-linejoin="round">
							<circle cx="12" cy="12" r="10"></circle>
						</svg>{{ .Get 1 }}</span></div>

				<ul class="list">{{ $stage1 := (.Get 1) }}
					{{range sort .Site.Pages }}
					{{if and (in .Params.day $daytime)}}
					{{if and (in .Params.position $stage1)}}

					<li class="single-event" data-start="{{ .Params.start }}" data-end="{{ if eq .Params.end "01:00" }}
					25:00
					{{ else }}{{.Params.end}}
					{{end}}" data-content="event-abs-circuit" data-event="event-1" style="border-left: 3px solid #5dceb4;">
						<a>
							<span class="event-date1">{{ .Params.start }} - {{ .Params.end }}</span>
							<em class="event-name"> {{.Params.name}}</em>
						</a>
					</li>
					{{ else }}{{end}}{{ else }}
					{{end}}{{end}}
				</ul>
			</li>
			<li class="events-group">
				<div class="top-info">
					<span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
							stroke="#ff7e9a" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
							<circle cx="12" cy="12" r="10"></circle>
						</svg>{{ .Get 2 }}</span></div>

				<ul>{{ $stage2 := (.Get 2) }}
					{{range sort .Site.Pages }}
					{{if and (in .Params.day $daytime)}}
					{{if and (in .Params.position $stage2)}}


					<li id="{{.Params.name}}" class="single-event" data-start="{{ .Params.start }}" data-end="{{ if eq .Params.end "01:00" }}
					25:00
					{{ else }}
					{{ .Params.end }}
					{{end}}" data-content="event-abs-circuit" data-event="event-2" style="border-left: 3px solid #ff7e9a">
						<a>
							<span class="event-date1">{{ .Params.start }} - {{ .Params.end }}</span>
							<em class="event-name"> {{.Params.name}}</em>
						</a>
					</li>
					{{ else }}{{end}}{{ else }}
					{{end}}{{end}}
				</ul>
			</li>
			<li class="events-group">
				<div class="top-info"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
							viewBox="0 0 24 24" fill="none" stroke="#fa8d76" stroke-width="3" stroke-linecap="round"
							stroke-linejoin="round">
							<circle cx="12" cy="12" r="10"></circle>
						</svg>{{ .Get 3 }}
					</span></div>

				<ul>{{ $stage3 := (.Get 3) }}
					{{range sort .Site.Pages }}
					{{if and (in .Params.day $daytime)}}
					{{if and (in .Params.position $stage3)}}


					<li id="{{.Params.name}}" class="single-event" data-start="{{ .Params.start }}" data-end="{{ if eq .Params.end "01:00" }}
					25:00
					{{ else }}
					{{ .Params.end }}
					{{end}}" data-content="event-abs-circuit" data-event="event-3" style="border-left: 3px solid #fa8d76;">
						<a>
							<span class="event-date1">{{ .Params.start }} - {{ .Params.end }}</span>
							<em class="event-name"> {{.Params.name}}</em>
						</a>
					</li>
					{{ else }}{{end}}{{ else }}
					{{end}}{{end}}
				</ul>
			</li>
		</ul>
	</div>
	{{ else if eq $daytime "Sunday" }}
	<DIV>

	</DIV>
	<div class="events">
		<ul style="list-style-type:none;">
			<li class="events-group 01">
				<div class="top-info"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
							viewBox="0 0 24 24" fill="none" stroke="#5dceb4" stroke-width="3" stroke-linecap="round"
							stroke-linejoin="round">
							<circle cx="12" cy="12" r="10"></circle>
						</svg>{{ .Get 1 }}</span></div>
				<ul class="list">
					{{ $daytime := (.Get 0) }}
					{{ $stage1 := (.Get 1) }}
					{{range sort .Site.Pages }}
					{{if and (in .Params.day $daytime)}}
					{{if and (in .Params.position $stage1)}}

					<li class="single-event" data-start="{{ .Params.start }}" data-end="{{ if eq .Params.end "01:00" }}
					25:00
					{{ else }}{{.Params.end}}
					{{end}}" data-content="event-abs-circuit" data-event="event-1" style="border-left: 3px solid #5dceb4;">

						<a>

							<span class="event-date1">{{ .Params.start }} - {{ .Params.end }}</span>
							<em class="event-name"> {{.Params.name}}</em>
						</a>
					</li>
					{{ else }}{{end}}{{ else }}
					{{end}}{{end}}
				</ul>
			</li>
			<li class="events-group" style="list-style-type:none;">
				<div class="top-info">
					<span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
							stroke="#ff7e9a" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
							<circle cx="12" cy="12" r="10"></circle>
						</svg>{{ .Get 2 }}</span></div>

				<ul>{{ $stage2 := (.Get 2) }}
					{{range sort .Site.Pages }}
					{{if and (in .Params.day $daytime)}}
					{{if and (in .Params.position $stage2)}}


					<li id="{{.Params.name}}" class="single-event" data-start="{{ .Params.start }}" data-end="{{ if eq .Params.end "01:00" }}
					25:00
					{{ else }}
					{{ .Params.end }}
					{{end}}" data-content="event-abs-circuit" data-event="event-2" style="border-left: 3px solid #ff7e9a">
						<a>
							<span class="event-date1">{{ .Params.start }} - {{ .Params.end }}</span>
							<em class="event-name"> {{.Params.name}}</em>
						</a>
					</li>
					{{ else }}{{end}}{{ else }}
					{{end}}{{end}}
				</ul>
			</li>
			<li class="events-group" style="list-style-type:none;">
				<div class="top-info"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
							viewBox="0 0 24 24" fill="none" stroke="#fa8d76" stroke-width="3" stroke-linecap="round"
							stroke-linejoin="round">
							<circle cx="12" cy="12" r="10"></circle>
						</svg>
						{{ .Get 3 }}</span></div>

				<ul>{{ $stage3 := (.Get 3) }}
					{{range sort .Site.Pages }}
					{{if and (in .Params.position $stage3)}}
					<li id="{{.Params.name}}" class="single-event" data-start="{{ .Params.start}}" data-end="{{ if eq .Params.end "01:00" }}
					25:00
					{{ else }}
					{{ .Params.end }}
					{{end}}" data-content="event-abs-circuit" data-event="event-3" style="border-left: 3px solid #fa8d76;">
						<a>
							<span class="event-date1">{{ .Params.start }} - {{ .Params.end }}</span>
							<em class="event-name"> {{.Params.name}}</em>
						</a>
					</li>
					{{ else }}{{end}}
					{{end}}
				</ul>
			</li>
			<li class="events-group" style="list-style-type:none;">
				<div class="top-info"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
							viewBox="0 0 24 24" fill="none" stroke="#83d1e2" stroke-width="3" stroke-linecap="round"
							stroke-linejoin="round">
							<circle cx="12" cy="12" r="10"></circle>
						</svg>
						{{ .Get 4 }}</span></div>

				<ul>{{ $stage4 := (.Get 4) }}
					{{range sort .Site.Pages }}
					{{if and (in .Params.day $daytime)}}
					{{if and (in .Params.position $stage4)}}


					<li id="{{.Params.name}}" class="single-event" data-start="{{ .Params.start}}" data-end="{{ if eq .Params.end "01:00" }}
					25:00
					{{ else }}
					{{ .Params.end }}
					{{end}}" data-content="event-abs-circuit" data-event="event-4" style="border-left: 3px solid #83d1e2;">
						<a>
							<span class="event-date1">{{ .Params.start }} - {{ .Params.end }}</span>
							<em class="event-name"> {{.Params.name}}</em>
						</a>
					</li>
					{{ else }}{{end}}{{ else }}
					{{end}}{{end}}
				</ul>
			</li>


		</ul>
	</div>
	{{ end }}
</div>